.playerDetail {

  .category {
    padding-right: 10px;
    text-align: right;
  }

  .value {
    padding-left: 10px;
    text-align: left;
  }

  .player-avatar {
    height: 40px;
    width: 53px;
  }
}
